body{
    background-color: #334155;
    font-family: 'Kanit', sans-serif;
}

.content{
    display:grid;
    justify-content: center;
    text-align: center;
}

.content2{
    background-color: #f1f5f9;
    display:grid;
    justify-content: center;
    border-radius: 10px;
}


.button{
    background-color: #94a3b8;
    color:rgb(0, 0, 0);
    border:solid #64748b 1px;
    padding:10px;
    margin-top: 1rem;
    font-size: 15px;
}

.input{
    background-color: #94a3b8;
    color:rgb(0, 0, 0);
    border:solid #64748b 1px;
    padding:10px;
    font-size: 15px;
    text-align: center;
}

.button:hover {
    padding: 10px;
    background-color: #64748b;
    color:rgb(0, 0, 0);
    transition: all ease-in-out 300ms;
}

.score{
    font-size: 20px;
}

.hide{
    display:none;
}